@font-face {
    font-family: jetbrains;
    src: url("assets/JetBrainsMono-Regular.ttf");
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: jetbrains;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80%;
    width: 50%;
    border: 4px solid black;
}

button {
    border: 2px solid white;
    background-color: rgb(72, 72, 231);
}